<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="topnav">
        <form action="/search/">
            <input required type="text" placeholder="Search.." id="search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
	<a href = "/search_by_status/">Show everyone present </a>
    <div id="status_table">
        <h2>Status</h2>

<table style="width:100%" border="2">
  <tr>
    <th>Last Seen</th>
    <th>Semester</th>
    <th>Roll No.</th>
    <th>ID</th>
    <th>Status</th>
    <th>Name</th>
  </tr>
{% for row in rows %}
  <tr>
    {% for key, value in row.items %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
    </div>
</body>
</html>